/*
## Colors

### Primary

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Linear Gradient: hsl(214, 47%, 23%) to hsl(237, 49%, 15%)
*/

body {
  width: 100%;
  height: 100vh;
  font-family: 'Barlow Semi Condensed', sans-serif;

  padding: 25px 0;

  color: #fff;
  background: hsl(237, 49%, 15%);
  background: linear-gradient(0deg, hsl(237, 49%, 15%) 0%, hsl(214, 47%, 23%) 100%);
}

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0;
}

/* Header Style */
header.row {
  width: 325px;
  margin: 0 auto;
  padding: 8px;

  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 8px;

  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header.row h1 {
  margin-bottom: 0;
  padding: 0;
  line-height: 0.8;
  font-weight: 600;

  text-shadow: 3px 2px 2px hsl(217, 16%, 45%);
}

header.row .win,
header.row .lose {
  width: 75px;
  height: 75px;
  padding: 6px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
}

header.row .win p,
header.row .lose p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.75px;
  color: hsl(229, 64%, 46%);
}

header.row p.score {
  font-size: 30px;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
}

/*Main Style*/
main.row {
  width: 350px;
  margin: auto;
  row-gap: 50px;
  position: relative;
  display: flex;
}

main.row img.bg-triangle {
  position: absolute;
  height: 75%;
  top: 50px;
  z-index: -1;
}

main.row button {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border-radius: 50%;
  border: 10px solid black;
}

main.row button.paper {
  border-color: hsl(230, 89%, 62%);
}

main.row button.scissors {
  border-color: hsl(39, 89%, 49%);
}

main.row button.rock {
  border-color: hsl(349, 71%, 52%);
  margin: 0 auto;
}

main.row button img {
  margin: auto;
  width: 50%;
}

/*Footer Style*/
footer {
  text-align: center;
}

footer button {
  color: #fff;
  background-color: transparent;
  border: 1px solid hsl(217, 16%, 45%);
  border-radius: 8px;

  padding: 6px 24px;
  outline: none;
}

/*MODAL Rules*/
.modal-rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  padding: 50px 0;
  display: none;
}

.modal-rules h1 {
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  text-transform: uppercase;
}

.modal-rules .close-rules {
  border: none;
}

.modal-rules .close-rules .close {
  width: 28px;
  height: 28px;
  stroke: hsl(217, 16%, 45%);
}

/* After Choice Main Style */
main.row.afterChoice {
  display: none;
  justify-content: space-between;
  row-gap: 15px;
  text-align: center;
}

.afterChoice div {
  padding: 0;
}

.afterChoice p {
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.house-picked .space {
  margin: 5px auto 0px;
  width: 90px;
  height: 90px;
  background-color: hsl(237, 49%, 15%);
  border-radius: 50%;
  border: none;
}

/* Info Style */
.info {
  display: none;
}

.info h2 {
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

div.info button.again {
  width: fit-content;
  height: fit-content;

  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.2px;

  padding: 8px 32px;
  border: none;
  border-radius: 8px;
}

/* RESPONSIVE STYLE */
@media all and (min-width: 498px) {

  /*Modal Rules*/
  .modal-rules {
    width: 400px;
    height: fit-content;

    border-radius: 8px;

    padding: 25px 0;
    margin: auto;
  }

  .before {
    background-color: hsla(217, 16%, 45%, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 0;
    display: none;
  }

  .modal-rules img {
    margin: 75px 0 0;
  }

  .modal-rules h1 {
    font-size: 28px;

    position: absolute;
    left: 40px;
  }

  .modal-rules .close-rules {
    position: absolute;
    right: 20px;
  }
}

@media all and (min-width: 498px) and (max-width: 768px) {

  header.row {
    width: 400px;
    margin: 0 auto;
  }

  /*Main Style*/
  main.row {
    width: 400px;
    margin: 0 auto;
  }

  main.row button {
    width: 120px;
    height: 120px;
    border: 15px solid black;
  }
}

@media all and (min-width: 768px) {
  header.row {
    width: 500px;
    margin: 0 auto;
  }

  main.row {
    width: 550px;
    margin: 0 auto;
  }

  main.row button {
    width: 150px;
    height: 150px;
    border: 20px solid black;
  }
}